.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}
/* to use CSS modules the file must end with module.css */

/* CSS Modules automatically generate unique class names
as long as you use CSS modules you won't have class name collisions */